* {
  margin: 1%;
}
.radio-button {
  margin: 1%;
}
.ui.form {
  width: 46%;
  margin: auto;
  border: 2px solid #222;
  padding: 1%;
  box-shadow: 10px 10px 62px -22px rgba(0, 0, 0, 0.75);
}

.checkbox-terms {
  width: 100%;
}
.msgerror {
  color: rgb(228, 70, 70);
}
